<?xml version="1.0"?>
<launch>
    <arg name="type" default="tagslam"/>
    <group ns="align_to_reef">
        <rosparam command="load" file="$(find behaviors)/config/2025_align_to_reef_config.yaml"/>
        <node name="align_to_reef" pkg="behaviors" type="2025_align_to_reef_$(arg type).py" output="screen"/>
        <node name="align_to_reef_tf" pkg="behaviors" type="2025_reef_tf.py" output="screen"/>
    </group>
</launch>